* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: grey;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.displayTable {
  margin-top: 20px;
}

.formStats {
}
